// PANELS
// =============================

.panel {
    background: $color-white;
    border-radius: 5px;
    overflow: hidden;
    margin: 30px 0;
    box-shadow: 0 4px 12px rgba($color-gray-500, 0.5);
}

.panel-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px 15px;
    background: $color-gray-100;

    .panel-title {
        font-size: 28px;
    }
}

.panel-body {
    padding: 30px 15px;
}

.panel-footer {
    padding: 15px;
    background: $color-gray-100;

    & > * {
        margin-bottom: 0;
    }
}
