/*
|--------------------------------------------------------------------------
| Panels
|--------------------------------------------------------------------------
|
|
|
*/

// Variables
// ------------------------------------------------------------------------


// Styles
// ------------------------------------------------------------------------
.panel {
    background: $color-white;
    border-radius: 5px;
    overflow: hidden;
    margin: 30px 0;
    box-shadow: 0 4px 12px rgba($color-gray-500, 0.5);
}

.panel-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px 15px;
    background: $color-gray-100;

    .panel-title {
        flex: 1 1 auto;
        font-size: 28px;
    }

    .panel-action {
        display: block;
        flex-grow: 0;
        display: block;
        margin-left: 30px;
    }

}

.panel-body {
    padding: 10px 15px;
}

.panel-footer {
    padding: 15px;
    background: $color-gray-100;

    & > * {
        margin-bottom: 0;
    }
}
