/*
|--------------------------------------------------------------------------
| Container
|--------------------------------------------------------------------------
|
|
|
*/

@mixin breakpoint($bp) {
    @media (min-width: $bp) {
        @content;
    }
}
