/*
|--------------------------------------------------------------------------
| Base
|--------------------------------------------------------------------------
|
|
|
*/


// Variables
// ------------------------------------------------------------------------
$body-bg-color: $color-white;
$brand-color: $color-light-green-600;

// Styles
// ------------------------------------------------------------------------
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    background-color: $body-bg-color;
}

*, *::after, *::before {
    box-sizing: inherit;
}
