// CONTAINERS
// ==============================

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

.container-small {
    max-width: 768px;
}

.container-large {
    max-width: 1440px;
}
