// DISPLAY
// ==============================

$display-up: (  // uses min width media query
    'md'   : $bp-small,
    'lg'   : $bp-medium,
    'xlg'  : $bp-large,
);
$display-down: (  // uses max width media query
    'sm'   : $bp-small,
    'md'   : $bp-medium,
    'lg'   : $bp-large,
    'xlg'  : $bp-xlarge,
);

.display-flex {
    display: flex;
    justify-content: space-between;
}

.display-none {
    display: none;
}

@each $name, $bp in $display-up {
    .display-#{$name}-up {
        display: none;

        @include breakpoint($bp) {
            display: initial;
        }
    }
}

@each $name, $bp in $display-down {
    .display-#{$name}-down {
        display: none;

        @include breakpoint-max($bp) {
            display: initial;
        }
    }
}
