/*
|--------------------------------------------------------------------------
| Grid
|--------------------------------------------------------------------------
|
| 12 column grid
|
*/

// Variables
// ------------------------------------------------------------------------
$col-spacing: 10px;


// Styles
// ------------------------------------------------------------------------
.row {
    display: flex;
    flex-direction: row;
    margin-right: -$col-spacing/2;
    margin-left: -$col-spacing/2;
    margin-top: 15px;
    margin-bottom: 15px;

    &.row-reverse {
        flex-direction: row-reverse;
    }

    .col {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
        padding: 0 $col-spacing/2;

        &.col-reverse {
            flex-direction: column-reverse;
        }
    }

    @for $i from 1 through 12 {
        .col-sm-#{$i} {
            flex-basis: ($i / 12) * 100%;
            max-width: ($i / 12) * 100%;

            @for $i from 1 through 12 {
                &.col-sm-offset-#{$i} {
                    margin-left: ($i / 12) * 100%;
                }
            }
        }
    }

    @include breakpoint($bp-small) {
        @for $i from 1 through 12 {
            .col-md-#{$i} {
                flex-basis: ($i / 12) * 100%;
                max-width: ($i / 12) * 100%;

                @for $i from 1 through 12 {
                    &.col-md-offset-#{$i} {
                        margin-left: ($i / 12) * 100%;
                    }
                }
            }
        }
    }

    @include breakpoint($bp-medium) {
        @for $i from 1 through 12 {
            .col-lg-#{$i} {
                flex-basis: ($i / 12) * 100%;
                max-width: ($i / 12) * 100%;
            }

            @for $i from 1 through 12 {
                &.col-lg-offset-#{$i} {
                    margin-left: ($i / 12) * 100%;
                }
            }
        }
    }
}
