/*
|--------------------------------------------------------------------------
| Blockquotes
|--------------------------------------------------------------------------
|
|
|
*/


// Variables
// ------------------------------------------------------------------------
$blockquote-border-color: $color-gray-500;
$blockquote-bg-color: $color-white;


// Styles
// ------------------------------------------------------------------------
blockquote {
    display: block;
    margin: 15px 0 30px;
    padding: 15px;
    font-size: 18px;
    border-left: 4px solid $blockquote-border-color;
    background: $blockquote-bg-color;
    box-shadow: 0 2px 4px $color-gray-300;

    :last-child {
        margin-bottom: 0;
    }
}
