// BUTTONS
// ==============================

$button-shadow: true;
$button-color: $brand-color;

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    display: inline-block;
    height: 40px;
    margin: 0 2px 15px;
    padding: 0 20px;
    width: auto;
    background: none;
    overflow: visible;
    appearance: none;

    font-size: 14px;
    font-weight: 600;
    color: inherit;
    line-height: 40px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    border-radius: 5px;
    border-style: solid;
    border-width: 1px;

    @if $button-shadow {
        box-shadow: 0 2px 4px rgba($color-gray-600, 0.5);
    }

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: 0.9;
        transform: scale(1.025);
        cursor: pointer;

        @if $button-shadow {
            box-shadow: 0 2px 8px rgba($color-gray-800, 0.5);
        }
    }

    &:active {
        opacity: 1;
        transform: scale(0.975);
    }

    &:disabled {
        opacity: 0.5;

        &:hover {
            transform: scale(1);
            cursor: not-allowed;
        }
    }


    &.button-primary {
        background-color: $button-color;
        color: $color-white;
        border-color: $button-color;
    }

    &.button-secondary {
        background-color: $color-white;
        color: $button-color;
        border-color: transparent;
    }

    &.button-tertiary {
        color: $button-color;
        border-color: transparent;
        box-shadow: none;
    }

    &.button-large {
        height: 48px;
        line-height: 48px;
        padding: 0 30px;
        font-size: 16px;
    }

    &.button-small {
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        font-size: 12px;
    }

}
