// TABLES
// ==============================

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid $color-gray-200;
        text-align: left;
    }

    thead {
        th {
            padding: 15px;
            font-weight: 300;
            color: $color-gray-500;
        }
    }

    tbody {
        td {
            padding: 15px;
            font-weight: 300;
        }
    }
}